/* A aplicação do asterisco (*) no arquivo de CSS informa 
aos navegadores que TODOS os elementos da tela receberão esta formatação*/
* {
  margin: 0; /*estamos zerando as margens EXTERNAS dos elementos*/
  padding: 0; /*estamos zerando as margens INTERNAS dos elementos*/
}
/* Vamos aplicar na tag header cor de fndo e padding */
header {
  /* escrever o caminho da imagem */
  background-image: url("../img/fundo8.jpg");
  /* para não repetir a imagem */
  background-size: 100%;
  /* deslocar as imagens X e Y*/
  background-position: 0 -650px;

  /*  background-color: #dd2c00; */
  /* cores https://materializecss.com/color.html */
  padding-top: 150px;
  /* Efeito animação de transição de um estado para outro */
  /* tipo de animação EASE, ALL, CUBIC, etc.
       o tempo em segundos */
  /* pode ser usado para vários itens */
  transition: ease 1s;
}
/* foormatar a tag h1 que está dentro do header. 
Veja como fazemos para ficar específica */
header h1 {
  color: #000; /* cor da letra */
  font-family: arial; /*mudar o tipo da letra para arial 
se o nome da fonte tiver espaço tem que ficar entre 
aspas para não dar erro*/
  text-align: center; /* alinhamento do texto ao centro */
}
header nav {
  background-color: #600;
  text-align: center;
  padding: 5px;
}
/* exibir os itens da lista um ao lado do outro. 
Usaremos o comando display (telaiexibir) 
lado a lado inline-block (blocos em linha) */
header nav ul li {
  display: inline-block;
  /* distanciar os itens da lista */
  margin: 5px;
}

header nav ul li a {
  color: #fff;
  font-family: arial;
  /* retirar a decoração do texto, ou seja, 
remover o underline */
  text-decoration: none;
}
/* passar o maouse sobre, a pessoa percebe que tem 
uma interação e um link ali  */
header nav ul li a:hover {
  color: rgb(255, 106, 47);
}

footer {
  /*  aplicar uam cor de fundo ao rodapé */
  background-color: rgb(114, 37, 2);
  /* aplicar margem interna */
  padding: 20px;
  /* empurra a caixa para baixo */
  padding-top: 40px;
  /* altura do rodapé */
  height: 110px;
}
/* Para fazer uma formatação em uma tag que tenha um 
  id definido é necessário que você adicione um sustenido 
  (#) ao início do nome do id. Neste caso nossa div tem id 
  chamado end, então aplicamos desta forma: #end  */
footer #end {
  color: #fff;
  font-family: verdana;
  font-size: 10pt;
  float: left;
  /* onde começa e onde termina 
   border: solid 1px green; */
}
footer #redes {
  /* onde começa onde termina
  border: solid 1px green; */
  float: right;
}
footer #redes a {
  /* para tirar as marcações azuis dos links */
  text-decoration: none;
}
footer #redes a img {
  /*  ajustar o tamanho largura da imagem, nesse caso diminuir */
  width: 40px;
  /*  ajustar o tamanho altura da imagem, nesse caso diminuir */
  height: 40px;
  /* distância entre eles */
  margin: 5px;
  /* animação  */
  transition: ease 0.5s;
}
footer #redes a img:hover {
  /*realizar uma rotação de 360 graus (deg) */
  transform: rotate(360deg);
}
/* --------- Início da formatação da página INDEX --------- */
main h2 {
  font-family: arial;
  font-size: 15pt;
  margin: 50px;
  /* uma linha fina */
  border-bottom: #600 1px solid;
}
main p{
    /* trabalhar o bloco do texto, reduzir a margem esquerda e direita */
    margin-left: 100px;
    margin-right: 100px;
     /* entre um parágrafo e o outro colocar um margem inferior, distanciamento entre os parágrafos */
    margin-bottom: 30px; 
    /* justificado */
    text-align: justify;
    font-size: 12pt;
    /* altura da linha (efeito de espaçamento entre linhas) 
    no word altura de linha = 1,5)*/
    /* cálculo = tamanho da fonte + 1,5 = 25  */
    line-height: 25pt;
    font-family: arial;   
}

main #imghome{
    /* centralizar a imagem */
    text-align: center;
}
main #imghome img{
    /* arredondar os cantos da imagens, preciso de imagens quadradas */
    /* ideal ter a imagem do tamanho correto */
    width: 500px; /* largura da imagem */
    height: 500px;/* altura da imagem */
    /*  vamos arredondar os cantos da imagem com o comando 
    border-radius. O valor pode ser em pixel (px) ou porcentagem (50%)*/
    border-radius: 50%;
    /* distanciar as imagens uma da outra */
    margin: 20px;
    /* efeito desfocado (transparência) de 0 até 1, 0.5 (50%) quando passa o mouse por cima ela aparece */
    opacity: 0.6;
    transition: ease 0.5s;
}
/* efeito de passar o mouse encima */
main #imghome img:hover{
    /* 100% de visibilidade */
    opacity: 1;
    /* brincar com o tamanho da imagem, aumento da escala em 10%, se for 20% seria 1.2 */
    transform: scale(1.1);
}

/* --------- Fim da formatação da página INDEX --------- */

/* --------- Início da formatação da página HISTORIA --------- */

main #imghistoria{
    text-align: center;
}
main #imghistoria img{
    width: 300px;
    height: 300px;
    margin: 10px;
}
main #video{
    text-align: center;
}
main #video iframe{
    width: 90%;
    height: 400px;
}
/* --------- Fim da formatação da página HISTORIA --------- */

/* --------- Início da formatação da página CARDAPIO ------- */

/* colocar borda em todas as DIV's para saber quem é quem */
/* tudo que tem # é ID é uma DIV */
/* main #area,  
main #area #conteudo, 
main #area #conteudo #img, 
main #area #conteudo #texto{
  border: 2px solid greenyellow;
}*/

/* repete os dois img: um é DIV e o outro é uma tag */
main #area #conteudo #img img{
  width: 200px;
  height: 180px;

}
main #area #conteudo #img{
  /* largura da caixa da imagem */
  width: 210px;
  /* Fazer a caixa de imagem flutuar para a esquerda, 
  para ficar lado a lado com o texto */
  float: left;
}
/* largura da caixa do texto*/
main #area #conteudo #texto{
   width: 800px;
   /* Fazer a caixa de texto flutuar para a esquerda, 
   para ficar lado a lado com a imagem */
   float: left;
}
/* aplicar a exibição (display) inline-block para as 
caixas area e conteudo (para as duas separadas por vírgula)*/
main #area, main #area #conteudo{
  display: inline-block;
  width: 90%;

}
main #area #conteudo #texto h5{
  font-family: arial;
  font-size: 14pt;
  margin: 5px;
  }
  main #area #conteudo #texto span{
    color: red;
  }
  main #area #conteudo {
  /* desprender do canto esquerdo */
  margin-left: 50px; 
   /*aplicar uma borda na parte inferior desta caixa*/
   border-bottom: 1px solid silver;
  }
  main h3{
    font-family: arial;
    font-size: 20pt;
    /* descolar dos cantos*/
    margin: 50px;

  }
/* --------- Fim da formatação da página CARDAPIO ------- */

/* ----------Início da formatação da página de localização */
main #mapa iframe{
  width: 100%;
  height: 500px;
}


/* ----------Fim da formatação da página de localização */